# Add neofetch

echo '\n'
{% if ansible_os_family == "Darwin" and ansible_architecture == "arm64" %}
/opt/homebrew/bin/fastfetch
{% elif ansible_os_family == "Darwin" and ansible_architecture == "x86_64"%}
/usr/local/bin/fastfetch
{% else %}
fastfetch
{% endif %}
echo '\n'
{% if is_server is defined %}
{% else %}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block, everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
{% endif %}

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

export KUBECONFIG=~/.kube/config

# Theme
{% if is_server is defined %}
eval "$(starship init zsh)"
{% else %}
ZSH_THEME="powerlevel10k/powerlevel10k"
{% endif %}

# Go Paths
export GOPATH=$HOME/scripts/Go

# Plugins
plugins=(git tmux docker docker-compose history-substring-search zsh-syntax-highlighting zsh-autosuggestions kubectl terraform aws git-it-on z helm kubectx)


# bind UP and DOWN arrow keys
# zmodload zsh/terminfo
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

bindkey '\e0A' history-substring-search-up
bindkey '\e0B' history-substring-search-down

# Path
export PATH="{{ path|join(':') }}"

source $ZSH/oh-my-zsh.sh

# Set xterm colours and autosuggestion
export TERM="xterm-256color"
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=239'

# Set titles
DISABLE_AUTO_TITLE="true"

HOSTNAME=$(hostname)
function precmd() {
  window_title="\033]0;${USERNAME##*/}@${HOSTNAME##*/} ${PWD##*/}\007"
   echo -ne "$window_title"
}

# bind UP and DOWN arrow keys
# zmodload zsh/terminfo
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

bindkey '\e0A' history-substring-search-up
bindkey '\e0B' history-substring-search-down

if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

  autoload -Uz compinit
  compinit
fi

# This speeds up pasting w/ autosuggest
# https://github.com/zsh-users/zsh-autosuggestions/issues/238
pasteinit() {
  OLD_SELF_INSERT=${${(s.:.)widgets[self-insert]}[2,3]}
  zle -N self-insert url-quote-magic # I wonder if you'd need `.url-quote-magic`?
}

pastefinish() {
  zle -N self-insert $OLD_SELF_INSERT
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish

autoload -U colors; colors

{% if is_server is defined %}
{% else %}
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
{% endif %}

alias vi="{{ editor if editor is defined else global.editor }}"
source ~/.zsh/vars
source ~/.envs/tokens
source ~/.zsh/functions
source ~/.zsh/aliases
source $HOME/.cargo/env
alias grep="rg"
alias penv="python3 -m venv .venv && source .venv/bin/activate"

source ~/.zsh/end
