" Pathogen Invocation
call pathogen#infect()
call pathogen#helptags()

" Remap some keys
set pastetoggle=<F3>
:nmap <F4> :set invnumber<CR>
:nmap <F7> :set norelativenumber!<CR>
:nnoremap <F5> :buffers<CR>:buffer<Space>
:nmap <F8> :sp<CR>
:nmap <F9> :vsp<CR>
:nmap <F10> :set nocursorcolumn!<CR>
nnoremap <A-Left> :tabprevious<CR>
nnoremap <A-Right> :tabnext<CR>
nnoremap <C-Up> :bprev<CR>
nnoremap <C-Down> :bnext<CR>
nnoremap <A-x> :bw!<CR>
nnoremap Y Y

" Moving lines
nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
inoremap <A-j> <Esc>:m .+1<CR>==gi
inoremap <A-k> <Esc>:m .-2<CR>==gi
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

" Standard
syntax on
filetype plugin indent on
set tabstop=4
set expandtab
set shiftwidth=4
set softtabstop=4

" Go tabs
autocmd Filetype go setlocal expandtab tabstop=4 shiftwidth=4 softtabstop=4

"Highlight line
set cursorline

"Splits
set splitbelow
set splitright

" Backup and swap directories
set backupdir=~/.vim/tmp/                   " for the backup files
set directory=~/.vim/tmp/                   " for the swap files

" Powerlineness
set rtp+=/usr/lib/python2.7/dist-packages/powerline/
set laststatus=2
set t_Co=256

" Incremental Search
set incsearch

" Ruler
set ruler

" Go Syntax Highlighting
let g:go_highlight_structs = 1
let g:go_highlight_methods = 1
let g:go_highlight_functions = 1
let g:go_highlight_operators = 1
let g:go_highlight_build_constraints = 1

"" Javascript Highlighting - JSON
autocmd BufNewFile,BufRead *.json set ft=javascript

""""""""""""""""""""
""""""""""""""""""""
" Pathogen Plugins "
""""""""""""""""""""
""""""""""""""""""""

"" NERDTree

" START NERDTree if no files are specified
autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif

" Close NERDTree if it's the only window left open
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTreeType") && b:NERDTreeType == "primary") | q | endif

" https://github.com/nathanaelkane/vim-indent-guides/issues/20
let g:indent_guides_exclude_filetypes = ['nerdtree']

" Start NerdTree
map <C-n> :NERDTreeToggle<CR>

" NerdTree UI Elements
let NERDTreeMinimalUI = 1
let NERDTreeDirArrows = 1

" END NERDTree

"" Airline
" START Airline
let g:airline_powerline_fonts = 1
let g:airline#extensions#tabline#enabled = 1
set laststatus=2
let g:airline_theme='kolor'
let g:airline#extensions#hunks#enabled=0
let g:airline#extensions#branch#enabled=1
" " END Airline
" space-vim-dark Colour Scheme
"   Range:   233 (darkest) ~ 238 (lightest)
"   "   Default: 235
"let g:space_vim_dark_background = 233
" color space-vim-dark

" Challenger Deep Theme
"color challenger_deep
color dracula

" True color if available
let term_program=$TERM_PROGRAM

" Check for conflicts with Apple Terminal app
if term_program !=? 'Apple_Terminal'
	set termguicolors
else
	if $TERM !=? 'xterm-256color'
		set termguicolors
	endif
endif

"""Coc
" use <tab> for trigger completion and navigate to the next complete item
function! s:check_back_space() abort
  let col = col('.') - 1
  return !col || getline('.')[col - 1]  =~ '\s'
endfunction

" Use tab for trigger completion with characters ahead and navigate.
" NOTE: There's always complete item selected by default, you may want to enable
" no select by `"suggest.noselect": true` in your configuration file.
" NOTE: Use command ':verbose imap <tab>' to make sure tab is not mapped by
" other plugin before putting this into your config.
inoremap <silent><expr> <TAB>
      \ coc#pum#visible() ? coc#pum#next(1) :
      \ CheckBackspace() ? "\<Tab>" :
      \ coc#refresh()
inoremap <expr><S-TAB> coc#pum#visible() ? coc#pum#prev(1) : "\<C-h>"

function! CheckBackspace() abort
  let col = col('.') - 1
  return !col || getline('.')[col - 1]  =~# '\s'
endfunction

" Make <CR> to accept selected completion item or notify coc.nvim to format
" <C-g>u breaks current undo, please make your own choice.
inoremap <silent><expr> <CR> coc#pum#visible() ? coc#pum#confirm()
                              \: "\<C-g>u\<CR>\<c-r>=coc#on_enter()\<CR>"

let g:coc_global_extensions = ['coc-json', 'coc-git', 'coc-go', 'coc-markdownlint', 'coc-pyright', 'coc-toml', 'coc-clangd', 'coc-tsserver', 'coc-eslint', 'coc-vetur', 'coc-prettier', 'coc-html', 'coc-webview', 'coc-markdown-preview-enhanced', 'coc-yaml']

set backspace=indent,eol,start

nmap <silent> [g <Plug>(coc-diagnostic-prev)
nmap <silent> ]g <Plug>(coc-diagnostic-next)

" GoTo code navigation.
nmap <silent> gd <Plug>(coc-definition)
nmap <silent> gy <Plug>(coc-type-definition)
nmap <silent> gi <Plug>(coc-implementation)
nmap <silent> gr <Plug>(coc-references)

" coc.nvim Git navigation
nmap [G <Plug>(coc-git-prevchunk)
nmap ]G <Plug>(coc-git-nextchunk)

" Use K to show documentation in preview window.
nnoremap <silent> K :call <SID>show_documentation()<CR>
function! s:show_documentation()
  if (index(['vim','help'], &filetype) >= 0)
    execute 'h '.expand('<cword>')
  elseif (coc#rpc#ready())
    call CocActionAsync('doHover')
  else
    execute '!' . &keywordprg . " " . expand('<cword>')
  endif
endfunction

"""FZF
map <C-f> :Files<CR>
map <leader>b :Buffers<CR>
nnoremap <leader>g :Rg<CR>
nnoremap <F6> :Rg<CR>
nnoremap <leader>t :Tags<CR>
nnoremap <leader>m :Marks<CR>

""" Terminal
nnoremap <C-t> :ToggleTerm size=40<CR>
inoremap <C-t> <Esc>:ToggleTerm size=40<CR>
tnoremap <C-t> <C-\><C-n><Esc>:ToggleTerm size=40<CR>
tnoremap <Esc> <C-\><C-n>
tnoremap :q! <C-\><C-n>:q!<CR>
tnoremap <C-j> <C-\><C-n><C-W>j<CR>
tnoremap <C-k> <C-\><C-n><C-W>k<CR>

""" Markdown Preview
nnoremap <silent> mp :CocCommand markdown-preview-enhanced.openPreview<CR>

" vim-commentary
noremap <C-_> :Commentary<cr>

" coc cursors
nmap <expr> <silent> <C-d> <SID>select_current_word()
function! s:select_current_word()
  if !get(b:, 'coc_cursors_activated', 0)
    return "\<Plug>(coc-cursors-word)"
  endif
  return "*\<Plug>(coc-cursors-word):nohlsearch\<CR>"
endfunc
