local wezterm = require 'wezterm'
local config = {}

config.font = wezterm.font 'JetBrainsMono NF'
config.font_size = {{ wezterm_font_size }} 
config.enable_scroll_bar = true
config.window_decorations = "INTEGRATED_BUTTONS|RESIZE"
config.window_frame = {
    active_titlebar_bg = '#282a36',
    inactive_titlebar_bg = '#282a36',
    font_size = {{ wezterm_font_size }},
}
config.scrollback_lines = 99999

config.colors = {
    tab_bar = {
        active_tab = {
            bg_color = '#9b6bdf',
            fg_color = '#f8f8f2',
        },
        inactive_tab = {
            bg_color = '#282a36',
            fg_color = '#f8f8f2',
        },
        inactive_tab_hover = {
            bg_color = '#282a36',
            fg_color = '#42e66c',
        }
    }
}

config.keys = {
    {
        key = '!',
        mods = 'CTRL | SHIFT',
        action = wezterm.action_callback(function(win, pane)
            local tab, window = pane:move_to_new_window()
        end),
    },
}
config.color_scheme = "Dracula"

return config
