# Colour Scheme
include dracula.conf
# Fonts
font_family JetBrainsMono Nerd Font
font_size {{ kitty_font_size }} 

# Scrollback
scrollback_line -1

# Tabs
tab_bar_edge top
tab_bar_style powerline 
active_tab_background   #9b6bdf
active_tab_foreground   #f8f8f2
active_tab_font_style   bold
inactive_tab_background #444
inactive_tab_foreground #efa554
inactive_tab_font_style normal

# Window
wayland_titlebar_color background
macos_titlebar_color background
window_margin_width 5
